*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/
/app/src/main/java/com/
/app/src/main/java/com/tansuyegen/
/app/src/main/java/com/tansuyegen/quizapp/
/app/src/main/java/com/tansuyegen/quizapp/Activities/
/app/src/main/java/com/tansuyegen/quizapp/Activities/AuthActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Activities/LeaderBoardActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Activities/MainActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Activities/QuizActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Activities/QuizesActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Activities/ResultActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Activities/SplashActivity.java
/app/src/main/java/com/tansuyegen/quizapp/Adapters/
/app/src/main/java/com/tansuyegen/quizapp/Fragments/
/app/src/main/java/com/tansuyegen/quizapp/Models/
/app/src/main/java/com/tansuyegen/quizapp/ServerTime.java
/app/src/androidTest/java/com/
/app/src/test/java/com/
/app/src/main/res/anim/
/app/src/main/res/drawable-v24/
/app/src/main/res/drawable/
/app/src/main/res/font/
/app/src/main/res/layout/
/app/src/main/res/layout/activity_active_quizes.xml
/app/src/main/res/layout/activity_auth.xml
/app/src/main/res/layout/activity_leaderboard.xml
/app/src/main/res/layout/activity_loading.xml
/app/src/main/res/layout/activity_main.xml
/app/src/main/res/layout/activity_quiz.xml
/app/src/main/res/layout/activity_result.xml
/app/src/main/res/layout/activity_splash.xml
/app/src/main/res/layout/dialog_menu.xml
/app/src/main/res/layout/fragment_login.xml
/app/src/main/res/layout/fragment_register.xml
/app/src/main/res/layout/fragment_reset_pass.xml
/app/src/main/res/layout/item_view_answer.xml
/app/src/main/res/layout/item_view_leaderboard.xml
/app/src/main/res/layout/item_view_quiz.xml
/app/src/main/res/mipmap-xhdpi/
/app/src/main/res/mipmap-hdpi/
/app/src/main/res/mipmap-xxhdpi/
/app/src/main/res/mipmap-anydpi-v26/
/app/src/main/res/mipmap-xxxhdpi/
/app/src/main/res/mipmap-mdpi/
/app/src/main/res/values/
/build.gradle
/app/build.gradle
/gradle/wrapper/gradle-wrapper.properties
/app/proguard-rules.pro
/gradle.properties
/settings.gradle
/local.properties
